
@media only screen and (max-width: 768px) {
    
    #course h1{
        text-align: center;
        font-size: 2em;

    }
    #course p{
        text-align: center;
        font-size: 1.5em;

    }
    #course .course-box {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-gap: 1rem;
        margin-top: 50px;
        
    }
    #course div { 
    padding: 0px  0px 40px 0px ;
    }
}