@media only screen and (max-width: 375px) {

    #course h1{
        text-align: center;
        font-size: 2em;

    }
    #course p{
        text-align: center;
        font-size: 1em;

    }
    #course .course-box {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-gap: 1rem;
        margin-top: 50px;
        
    }
}
