body {
    background-color: #EDEDEE;
    color: #333333;
}

h1 {
    color: #333333;
}

p {
    color: #E6621F;
}

#course {
    padding: 0vw 8vw 1vw 8vw;
    text-align: center;
}

.course-box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 50px;
}

.courses {
    text-align: center;
    background: #f9f9ff;
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.courses:hover {
    border: 2px solid #E6621F;
}

.courses.active {
    background-color: #E6621F;
    color: #FFFFFF;
}

.courses img {
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center;
}

.courses h1 {
    text-align: center;
}

.courses .details {
    text-align: center;
    background: #f9f9ff;
    height: 35%;
}

.courses .details p,
.courses .details h3 {
    color: #333333;
}

.courses:hover .details,
.courses.active .details {
    background-color: #E6621F;
    color: #FFFFFF;
}

.courses:hover .details p,
.courses:hover .details h3,
.courses.active .details p,
.courses.active .details h3 {
    color: #FFFFFF;
}

.details h3 {
    border: 1px solid #E6621F;
    width: 25%;
}

.details h3:hover {
    background-color: #E6621F;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .course-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .courses {
        width: 48%;
    }
}

@media (max-width: 375px) {
    .courses {
        width: 100%;
    }
}

#elemento1:hover,
#elemento4:hover {
    border: 2px solid #E6621F;
}

#elemento2:hover,
#elemento3:hover {
    background-color: #E6621F;
    color: #FFFFFF;
}